{{ awslogs_aws_proxy_config_file }}
{{ awslogs_agent_daemon_script_path }}
{{ awslogs_agent_launcher }}
{{ awslogs_logrotate_config_file }}
{{ awslogs_agent_nanny_path }}
{{ awslogs_agent_nanny_cron_path }}
{{ awslogs_logrotate_cron_path }}
{{ awslogs_aws_config_file }}
