
# Version: {{ awslogs_version }}
# Refer to http://docs.aws.amazon.com/cli/latest/userguide/cli-http-proxy.html for details.
HTTP_PROXY={{ awslogs_http_proxy }}
HTTPS_PROXY={{ awslogs_https_proxy }}
NO_PROXY={{ awslogs_no_proxy }}
